.generalpadding{
    padding: 0px 12px;
    /* border: 2px solid red; */
}
.emailformdiv {
    margin-top: 20px;
    /* border: 2px solid #ddd; */
    padding: 7px;
}
.summitbtn {
    margin-top: 200px;
}
.simplespan {
    margin-top: 9px;
    display: block;
    text-align: center;
    color: #666;
    font-size: 13px;
}

.otpformdiv{
      margin-top: 20px;
      padding: 7px;
}
.inputfield{
    /* border: 2px solid green; */
    width: 1px;
     padding: 10px 7px ;
}
.checkbox{
    font-size: 25px;
    font-weight: 500;
}
.verifygeneraldiv{
    background-color: #938f8f;
}
.identitydiv{
    /* border: 4px solid red; */
    /* height: 83%; */
   position: fixed;
   bottom: 0;
   width: 100%;
  
    padding: 0px 5px;
  /* border-radius: 25px; */
  padding-bottom: 10px;
  border-top-left-radius:30px ;
  border-top-right-radius:30px ;
background: var(--Backgrounds-Primary, #FFF);
overflow: hidden;

/* margin-top: 250px; */
}
.completestep{
    padding: 0px 50px;
    text-align: center;
}
.verifyheader{
    color: #000;

/* H2 */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 5px;

}
.verifyicondiv{
    margin-top: 20px;
}
.stepbtn{
    /* border: 2px solid red; */
    margin: 9px 0px;
    border-radius: 20px;
}
.steptitlep{
    /* font-size: 16px; */
    font-weight: 500;
    /* border: 1px solid red; */
    text-align: start;
}
.grayradiobtn{
    border-color: rgb(34, 12, 12);
    border: 3px solid gray;
    border-radius: 7px;
}
.activatebtn{
    /* border: 2px solid red; */
  background-color: #E9E9E9; 
    border-radius: 20px;
}
.onit{
    border: 2px solid rgb(197, 119, 197);
}
.balanceviewdiv{
    /* border: 2px solid red; */
    /* padding: 0px 20px; */
    width: 95%;
    padding: 0px 10px;
    margin: auto;
}
.availablebal{
    font-size: 10px;
    font-weight: 600;
}
.showbal{
    font-size: 27px;
    font-weight: 700;
}
.welcomeheader{
  color: var(--Grays-Black, #000);


/* H1 */
/* font-family: Poppins; */
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* padding: 0px 0px; */
}
.welcometextdiv{
    margin-top: 30px;
}
.welcometextdiv p{
    color: var(--Grays-Gray, #8E8E93);

/* C */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.welcomegeneraldiv{
   /* border: 2px solid red; */
   padding: 0px 10px;
}
.welcomelogodiv{
    /* border: 2px solid blue; */
    margin-top: 100px;
}
.welcomebuttondiv{
    /* border: 2px solid green; */
    margin-top: 70px;
}
.welcomebuttondiv button{
   border-radius: 19px;
     padding: 20px 0px;
     
}
.generalbutton{
   border-radius: 19px;
     padding: 20px 0px;
}
.welcomebuttondiv .secondbuttondiv{
    background-color: #E9E9E9;
    color: #666;
    /* padding: 12px 0px; */
}
.welcomefootertext{
    color: var(--Grays-Gray-2, #AEAEB2);
text-align: center;

/* C */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 9px;
}
.basicinfodiv{
      padding: 0px 14px;
}
.kycinputfield{
   display: flex;
padding: 14px 12.5px;
align-items: center;
gap: 10px;
align-self: stretch;
/* border: 2px solid purple; */

}

.basicinfoheader{
    color: var(--Grays-Black, #000);
text-align: center;
/* H2 */
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 25px;
margin-bottom: 13px;
}
.inputusertext{
    color: var(--Labels-Tertiary, rgba(60, 60, 67, 0.30));

/* C */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}
.basicinfoheaderp{
    color: var(--Grays-Gray, #8E8E93);
text-align: center;

/* C */
/* font-family: Poppins; */
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.activebtn{
    margin-top: 16px;
}
.inactivebtn{
background: var(--light-button-disabled-background, #E9E9E9);

}
.circleimgdiv{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.verifiedbtn{
    margin-top: 35px;
    margin-bottom: 15px;
}
.makedepositdiv{
    margin-top: 30px;
    /* border: 2px solid red; */
}
.makedepositdiv h3{
 color: var(--Grays-Black, #000);

/* H2 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.depositbtn{
border-radius: 18px;
/* border: 1px solid #9D00FF; */
background: rgba(242, 242, 247, 0.30);
margin-top: 3px;
}
.depositfootertext{
    color: var(--Grays-Gray-2, #AEAEB2);
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.transactionbtndiv{
    display: flex;
    /* border: 2px solid red; */
}
.transactionbtn{
/* display: flex;
padding: 8px 0;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0; */
padding: 15px;
width: 48%;
border-radius: 18px;
background: #9D00FF;
margin: 5px;
color: var(--Grays-White, #beb9b9);
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.transactionbtntwo{
   width: 48%;
   border-radius: 18px;
   /* padding: 15px; */
background: rgba(235, 204, 255, 0.20);
margin: 5px;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.welcomepadding{
    padding-left: 12px;
    padding-right: 12px;
}
.accountdetailsdiv{
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 20px;
}
.accountdetailscontainer{
    margin-top: 10px;
}
.subjectname{
    color: var(--Grays-Gray-2, #AEAEB2);

/* C */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.subjectinput{
    color: var(--Grays-Black, #000);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}